In [1]:
import pandas as pd

In [2]:
df = pd.read_json('../../watcher_crawl/watcher.jl', lines=True)

In [3]:
df.head()

,company_name,company_code,company_sector,company_industry,scraped_table,records
0,adani-enterprises-ltd,9074,Diversified,Diversified,income-quaterly,"{'columns': ['fields', 'Sep 2021', 'Jun 2021',..."
1,adani-enterprises-ltd,9074,Diversified,Diversified,income-annual,"{'columns': ['fields', 'FY 2021', 'FY 2020',..."
2,adani-enterprises-ltd,9074,Diversified,Diversified,balance-sheet,"{'columns': ['fields', 'FY 2021', 'FY 2020',..."
3,adani-enterprises-ltd,9074,Diversified,Diversified,cash-flow,"{'columns': ['fields', 'FY 2021', 'FY 2020',..."
4,adani-enterprises-ltd,9074,Diversified,Diversified,ratios,"{'columns': ['fields', 'FY 2021', 'FY 2020',..."

In [4]:
df = df[['company_name', 'company_code', 'company_sector', 'company_industry']]

In [5]:
df.head()

            company_name  company_code company_sector company_industry
0  adani-enterprises-ltd          9074    Diversified      Diversified
1  adani-enterprises-ltd          9074    Diversified      Diversified
2  adani-enterprises-ltd          9074    Diversified      Diversified
3  adani-enterprises-ltd          9074    Diversified      Diversified
4  adani-enterprises-ltd          9074    Diversified      Diversified

In [6]:
df = df.drop_duplicates()

In [7]:
df.reset_index(inplace=True)

In [8]:
df.drop(columns=['index'], inplace = True)

In [9]:
import pymongo

In [10]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
m_db = myclient["The-watcher"]

In [11]:
myclient.list_database_names()

['The-watcher', 'admin', 'config', 'local']

In [12]:
coll = m_db.create_collection('company_details')

In [13]:
coll.insert_many(df.to_dict('records'))

In [14]:
for i in coll.find():
    print(i)

{'_id': ObjectId('625505f5c629d1a89f8bfadd'), 'company_name': 'adani-enterprises-ltd', 'company_code': 9074, 'company_sector': 'Diversified', 'company_industry': 'Diversified'}
{'_id': ObjectId('625505f5c629d1a89f8bfade'), 'company_name': 'bharti-airtel-ltd', 'company_code': 2718, 'company_sector': 'Telecommunications', 'company_industry': 'Telecommunications - Service'}
{'_id': ObjectId('625505f5c629d1a89f8bfadf'), 'company_name': 'bajaj-finance-ltd', 'company_code': 11260, 'company_sector': 'NBFC', 'company_industry': 'NBFC - Consumer'}
{'_id': ObjectId('625505f5c629d1a89f8bfae0'), 'company_name': 'hdfc-bank-ltd', 'company_code': 9195, 'company_sector': 'Banks', 'company_industry': 'Banks - Private Sector'}
{'_id': ObjectId('625505f5c629d1a89f8bfae1'), 'company_name': 'reliance-industries-ltd', 'company_code': 13215, 'company_sector': 'Diversified', 'company_industry': 'Diversified'}

In [15]:
m_db.list_collection_names()

['income-annual',
 'ratios',
 'cash-flow',
 'income-quaterly',
 'balance-sheet',
 'nse_companies',
 'company_details']

In [16]:
import types
def imports():
    for name, val in globals().items():
        if isinstance(val, types.ModuleType):
            yield val.__name__
list(imports())

['builtins', 'builtins', 'pandas', 'pymongo', 'types']